<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    {{>headerLink}}
    <link rel="stylesheet" type="text/css" href="../../style.css">

</head>

<body>
    {{>header}}
    <h1>this is about page from the template {{name}} and age is {{age}}</h1>
    {{>footer}}
    {{>footerLink}}
</body>

</html>